<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        .main{
        width:1000px;
        background-color: red;
        color: white;

    }
    </style>
    
</head>
<body>
    <div class="main"><h1>Welcome to AI Martians {{subject}}</h1> </div>
    {% if subject|length > 0 %}
        {% for i in subject %}
        <div class="main">{{forloop.counter}} {{i}}</div>
        {% endfor %}
    {% else %}
        No data found
    {% endif %}

</body>
</html>